---
import CardSection from "./CardSection.astro"
import Sushis from "@/assets/sushis.jpg";
---
<section class="my-12">
    <div class="flex justify-center">
        <div class="grid grid-cols-2 gap-6">
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>
            <CardSection title={"Sushi con mani"} price={20.00} image={Sushis.src}/>   
        </div>
    </div>
    
</section>