---
import Product from "@/components/Product.astro";
import sushis from "@/assets/sushis.jpg";
import pescado from "@/assets/pescado.png";
import sopa from "@/assets/sopa.png";
import camaron from "@/assets/camaron.png";
---

<section class="grid grid-cols-4 place-items-center gap-y-8">
  <Product image={sushis} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={pescado} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={sopa} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={camaron} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={sushis} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={pescado} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={sopa} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={camaron} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={sushis} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={pescado} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={sopa} title={"Sushi con salsa de soya"} price={30.0} />
  <Product image={camaron} title={"Sushi con salsa de soya"} price={30.0} />
</section>
